@font-face {
    font-family: 'HelveticaOutline'; 
    src: url('./assets/fonts/helvetica-outline.eot') format('embedded-opentype'),
         url('./assets/fonts/helvetica-outline.woff') format('woff'),
         url('./assets/fonts/helvetica-outline.svg') format('svg');
}

@font-face {
    font-family: 'Yolda'; 
    src: url('./assets/fonts/YOLDA.eot') format('embedded-opentype'),
         url('./assets/fonts/YOLDA.woff') format('woff'),
         url('./assets/fonts/YOLDA.svg') format('svg');
}