@import './fonts.scss';

$color1: #5476AB;
$color2: #AB8954;

html {
    background-color: rgba($color2, 0.05);
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $color1;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 850px;
    margin: 2em;
}

#bio {
    font-size: 6rem;
    word-wrap: break-word;
    text-transform: uppercase;

    @media (max-width: 750px) {
        font-size: 4rem;
    }
}

#not-found {
    color: red;
    font-size: 10rem;
}

.hel-out {
    font-family: 'HelveticaOutline', Helvetica, sans-serif;
}

.yolda {
    font-family: 'Yolda', Helvetica, sans-serif;
}