#nav {

    img#sean {
        position: fixed;
        top: 10rem;
        right: 4rem;
        height: 24rem; 
        cursor: pointer;
        z-index: 10;

        @media (max-width: 750px) {
            height: 12rem; 
            top: 1rem;
            right: 1rem;
        }
    }

    #nav-container {
        position: fixed;
        top: 4rem;
        right: 12rem;
        height: 12rem; 
        z-index: 10;
        width: auto;

        img#speech {
            height: 100%;
            transform: rotate(270deg) scaleX(-1);
        }

        img.nav-item {
            height: 32px;
            position: absolute;
            cursor: pointer;
        }

        img#nav-bio {
            top: 2rem;
            left: 3rem;
        }

        img#nav-works {
            top: 4.5rem;
            left: 3rem;
        }

        img#nav-contact {
            top: 7rem;
            left: 3rem;
        }
    }
}