#nav {

    img#sean {
        position: fixed;
        top: 10rem;
        right: 4rem;
        height: 24rem; 
        cursor: pointer;
        z-index: 10;

        @media (max-width: $breakpoint) {
            position: absolute;
            height: 12rem; 
            top: 5rem;
            left: 10rem;
            right: inherit;
        }
    }

    #nav-container {
        position: fixed;
        top: 4rem;
        right: 12rem;
        height: 12rem; 
        z-index: 10;
        width: auto;

        @media (max-width: $breakpoint) {
            position: absolute;
            top: 2rem;
            left: inherit;
            right: inherit;
        }

        img#speech {
            height: 100%;
            transform: rotate(270deg) scaleX(-1);
        }

        img.nav-item {
            height: 32px;
            position: absolute;
            cursor: pointer;
        }

        img#nav-bio {
            top: 2rem;
            left: 3rem;
        }

        img#nav-works {
            top: 4.5rem;
            left: 3rem;
        }

        img#nav-contact {
            top: 7rem;
            left: 3rem;
        }
    }

    img#bio-background {
        position: fixed;
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        opacity: 20%;

        @media (max-width: $breakpoint) {
            width: 100%;
        }
    }
}