.work {
    padding: 1em 0;
    border-bottom: solid 1px rgba($color2, 0.5);
    font-size: 1rem;

    .work-title {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .work-image {
        display: inline-block;
        width: calc(33% - 8px);
        padding: 4px;
    }

    .work-content {
        a {
            color: $color2;
        }
    }
}