#works {
    font-size: 4rem;

    ul {
        margin-bottom: 1rem;
        list-style-type: none;
        padding: 0;

        li {
            cursor: pointer;

            &::before {
                content: '✓';
                padding-right: 1rem;
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }

    }
}

#work {

    h1 {
        font-size: 8rem;
        word-wrap: break-word;
    }

    #content {
        font-size: 4rem;

        a {
            color: inherit;
            font-family: 'HelveticaOutline', Helvetica, sans-serif;
        }
    }

    .back {
        font-size: 8rem;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    #images {

        img {
            width: 100%;
        }
    }
}